@import "./../../variable.module.scss";

.navigation {
  color: $lightColor;
  text-align: center;
  & a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: inherit;
  }
}

.header {
  background-color: $color;
  color: $lightColor;
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
  border-left: 1px solid $lightColor;
}
